.main-nav{
    margin-top: 10px;
    list-style: none;
    padding-left: 0;
    background-color: #13a4a4;
}
.main_nav_item{
    display: inline-block;
}
.main_nav_item a{
    color: white;
    padding: 5px;
    border-radius: 2px;
    text-decoration: none;
}
.main_nav_item a:hover{
    color: blue;
}
.main_nav_item a:active{
    color: red;
}
.main_nav_item a::after{
    content: " |  ";
}