*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
main{
    width: 100vw;
    height: 100vh;
    background-color: cadetblue;
}
section{
    width: 80%;
    min-width: 320px;
    max-width: 500px;
    height: 500px;
    background-color: azure;
   margin: 0 auto;
}